.jumbotron__panel{
    display: flex;
    width: 100%;
    height: 350px;
    justify-content:center;
    border-bottom: 2px solid #ffa500;
    background-color: #252324;
}

.jumbotron__header{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.jumbotron__header > div{
    display: flex;
    color: white;
    margin-top: 25px;
    font-weight: 400;
    font-size: 50px;
}

.highlight__connect{
    font-weight: 400;
    font-size:50px;
    font-family: monospace;
}

.writing__button{
    display: flex;
    width: 30%;
    height: 50px;
    align-self: flex-end;
    font-style: normal;
    padding-right: 50px;
}

.header__image{
    display: flex;
    width: 40%;
}

.header__image > img{
    opacity: 0.8;
    object-fit: fill;
    width: 100%;
}