.blog__card{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 95%;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 20px;
    margin-bottom: 20px;
}
.blogcard__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blogcard__details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self:flex-start;
    width: 60%;
    height: 100%;
}
.blogcard__header{
    display: flex;
    align-items: center;
    padding: 10px;
    width: 30%;
    border-bottom: 1px solid lightgray;
    margin-left: 5px;
}
.blogcard__owner{
    display: flex;
    max-height: 30px;
    align-items: center;
}
.blogcard__owner > img{
    display: block;
    max-height: 40px;
    max-width: 100%;
    padding: 0 25px 0 5px;
}
.blogcard__body{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin-top: 20px;
    padding: 10px;
}
.blogcard__body > span{
    font-size: medium;
    font-weight: bold;
}
.blogcard__body > small{
    margin-top: 10px;
}
.blogcard__footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px;
}
.blogcard__options{
    margin-top: 2px;
    display: flex;
    width: 50%;
    justify-content: flex-end;
}

.blogcard__options > div{
    cursor: pointer;
    padding: 1px;
    margin-left: 25px;
}

.blogcard__options > div:hover .icon__color{
    fill: orange;
}

.applaud__option{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 45px;
}

small{
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

.blog__footer > small{
    padding: 0 15px 0 0;
}

.blog__img{
    height: 200px;
    width: 40%;
}

.blog__img > img{
    display: block;
    max-height: 100%;
    width: 100%;
    border-radius: 18px;
}