.header__bar{
    height: 70px;
    display: flex;
    width: 100%;
    top: 0;
    align-items: center;
    position: sticky;
    z-index: 1;
    background: #252324;
    border-bottom: 2px solid #ffa500;
  }
  
  .header__logo{
    display: flex;
    margin: 0 250px;
  }
  
  .header__options{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    margin-right: 270px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .header__options >li{
    list-style: none;
    color: white;
    margin: 0 20px 0 25px;
    font-size: medium;
    cursor: pointer;
  }

  .active {
  padding-bottom: 10px;
  border-bottom: 2px solid white;
}

.user__options {
  position: relative;
  display: inline-block;
}

.drop__btn {
  color: white;
  border: 1px solid white;
  cursor: pointer;
  border-radius:50%
}

.dropdown__content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #252324;
  width: 200px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown__content li {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 10px;
}

.user__options:hover .dropdown__content {
  display: block;
}

.dropdown__content > li:hover{
  color: #ffa500;
  background-color: black;
}