.login__content{
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
}

.email__field, .password__field{
    display: flex;
    padding: 10px;
    justify-content: flex-start;
    align-items: center;
    color:dimgray;
}

.email__field > div, .password__field > div{
    display: flex;
    align-items: center;
    width: 25%;
}

.email__field > input, .password__field > input{
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    margin-left: 20px;
    border-radius: 15px;
    border: 2px solid lightgray;
    height: 30px;
    width: 75%;
    padding: 5px;
}
.email__field > input:focus{
    outline: none;
    border-color: #ffa500;
}
.password__field > input:focus{
    outline: none;
    border-color: #ffa500;
}
.login__button{
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
    border:2px solid lightgray;
    border-radius: 20px;
    width: 120px;
    height: 30px;
    cursor: pointer;
    font-size: medium;
    font-weight: 300;
    color: black;
}

.login__button:hover{
    background-color:#ffa500;
    border-color: #ffa500;
    color: white;
}