.register__content{
    display: flex;
    flex-direction: column;
    border: 1px solid gray;    
    border-radius: 10px;
    padding: 20px;
    width: 95%;
}

::placeholder {
    opacity: 0.3; 
  }

.firstname__field, .lastname__field, .emailaddress__field, .password__field1, .password__field2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color:dimgray;
    font-size: medium;
    font-weight: 400;
    padding: 10px;
    
}

.firstname__field > div, .lastname__field >div, .emailaddress__field > div, .password__field1 > div, .password__field2 > div{
    width: 25%;
    margin-left: 10px;
}
.firstname__field > img, .lastname__field >img, .emailaddress__field > img, .password__field1 > img, .password__field2 > img{
    width: 5%;
}
.firstname__field > input, .lastname__field >input, .emailaddress__field > input, .password__field1 > input, .password__field2 > input{
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    margin-left: 20px;
    border-radius: 15px;
    border: 2px solid lightgray;
    height: 30px;
    padding: 5px;
    width: 70%;
}
.firstname__field > input:focus, .lastname__field >input:focus, .emailaddress__field > input:focus, .password__field1 > input:focus, .password__field2 > input:focus{
    outline: none;
    border-color: #ffa500;
}
.register__button{
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
    border:2px solid #ffa500;
    background-color: #ffa500;
    border-radius: 20px;
    width: 120px;
    height: 30px;
    cursor: pointer;
    font-size: medium;
    font-weight: 300;
    color: white;
}