.main__container{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 50px;
    padding: 10px;
}
.blog__details{
    display: flex;
    flex-direction: column;
    position:relative;
    width: 65%;
}
.blog__container{
    display: flex;
    position: relative;
    flex-direction: column;
    border-radius: 10px;
}
.blog__header > div{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.blog__header > div > span{
    align-self: flex-start;
}
.blog__header > div > div{
    align-self: flex-end;
    align-items: flex-end;
}

.blog__header > h4{
    font-size:larger;
    font-family: Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    font-weight: normal;
    padding-left: 5px;
    color: black;
    border: 2px solid black;
}
.image__header{
    display: flex;
}
.image__header > img{
    width: 100%;
    height: 100%;
    border-radius: 6px;
}
.blog__body{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.author__details{
    display: flex;
    width: 40%;
    align-items: center;
    margin-top: 20px;
    border-bottom: 1px solid lightgray;
}
.author__details > img{
    height: 40;
    width: 40px;
    margin-right: 10px;
}
.read__time{
    display: flex;
    width: 22%;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.blog__date{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}
.blog__content{
    display: flex;
    margin-top: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
}
.blog__content >p{
    font-size: medium;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    line-height: 1.65em;
    color: #333333;
}

.blog__footer{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 10px;
    padding-bottom: 10px;
}
.blog__options{
    display: flex;
    justify-content: space-between;
    width: 20%;
}
.comment__list{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 2px solid lightgray;
    border-radius: 10px;
}
.comment__list > span{
    position: relative;
}
.comment__container{
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
}
.comment__header{
    display:flex;
    align-items: center;
    width: 30%;
    padding-top: 10px;
    padding-bottom: 5px;
    color: gray;
}
.comment__body{
    display:flex;
    flex-direction: column;
    align-content: space-between;
    margin-top: 20px;
    padding-bottom: 5px;
}
.comment__footer{
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 80%;
}

.comment__owner{
    display: flex;
    max-height: 30px;
    align-items: center;
}
.comment__owner > img{
    display: block;
    max-height: 40px;
    max-width: 100%;
    padding: 0 25px 0 5px;
}
.comment__body > span{
    font-size: medium;
    font-weight: bold;
}
.comment__body > small{
    margin-top: 10px;
}
.comment__options{
    margin-top: 2px;
    display: flex;
    width: 50%;
    justify-content: flex-end;
}

.comment__options > div{
    cursor: pointer;
    padding: 1px;
    margin-left: 25px;
}

.comment__options > div:hover .icon__color{
    fill: orange;
}

.applaud__option{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 45px;
}

small{
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

.blog__footer > small{
    padding: 0 15px 0 0;
}

.show__comments{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 10px;
}