input, textarea{
    width: 100%;
    border: 2px solid lightgray;
    border-radius: 5px;
}
input:focus, textarea:focus{
    outline: none;
    border-color: #ffa500;
}
.createmain__container{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    margin-left: 350px;
    margin-right: 350px;
    margin-bottom: 50px;
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 5px;
}
.newblog__header{
    display: flex;
    flex-direction: column;
    
}
.author__info{
    display: flex;
    justify-content: space-between;
    width: 20%;
    border-bottom: 2px solid lightgray;
}
.author__info > span{
    color: grey;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    align-self: flex-end;
    margin-right: 50px;
}
.author__info > img{
    height: 45px;
    width: 45px;
    margin-right: 10px;
}
.newblog__title{
    display: flex;
    height: 50px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.title__box{
    font-size:x-large;
    font-family: Arial, Helvetica, sans-serif;
}
.newblog__body{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.newblog__image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid gray;
    border-style: dashed;
}
.newblog__image > input{
    width: 20%;
}
.preview__box{
    position: relative;
    height: 100%;
    width: 100%;
}
.image__preview{
    height: 100%;
    width: 100%;    
}
.image__options{
    display: none;
}
.image__options > button{
    border: 1px solid black;
    border-radius: 50%;
}
.preview__box:hover .image__options{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.preview__box:hover .image__preview{
    filter: blur(4px);
}
.image__options >img:hover{
    cursor: pointer;
}
.newblog__content{
    display: flex;
    align-content: flex-start;
    margin-top: 50px;
    padding-bottom: 10px;
    height: auto;
}
.content__box{
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 200px;
    min-width: 100%;
}
.content__box::placeholder{
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}
.newblog__footer{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 10px;
    padding-bottom: 10px;
}
.newblog__options{
    display: flex;
    justify-content: space-between;
    width: 15%;
}