.modal__overlay{
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 1;
  }
  
  .modal__box{
    display: flex;
    flex-direction: column;
    top: 20%;
    left: 30%;
    bottom: auto;
    padding: 5px;
    position: fixed;
    border: 1px solid lightgray;
    box-shadow: 7px 7px 10px lightgray;
  }
  
  
  .modal__header{
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  
  .modal__header > div{
    margin:2px;
    padding: 5px;
    align-content: flex-end;
  }
  
  .close__modal{
    display: flex;
    justify-content: flex-end;
  }
  .modal__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 5px;
  }
  
  .google__signin, .email__signin{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid green;
    border-radius: 20px;
    border: 1px solid black;
    background-color: white;
    padding: 5px 5px 5px 9px;
    margin: 10px;
    width: 250px;
  }
  
  .google__signin > img, .email__signin > img{
    padding-right: 30px;
  }

  .sign__up{
    margin-top: 30px;
    font-size:small
  }
  
  .modal__footer{
    margin-top: 20px;
    display: flex;
  }
  