.sidebar__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.sidebar__updates{
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 20px;
}

.sidebar__header{
    padding: 10px 0 10px 40px;
    font-size: large;
    font-weight: bold;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-bottom: 1px solid lightgray;
}

.topic_name{
    border: 1px solid orange;
    padding: 10px;
    align-items: center;
    margin-right: 10px;
    margin-top: 20px;
    color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    font-weight: 300;
}

.topic_card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    margin-top: 20px;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
}

.topic_card > *{
    padding-bottom: 10px;
    padding: 3px 15px 0 15px;
}

.topic_card > span{
    padding-bottom: 10px;
}

.sidebar__footer{
    display: flex;
    padding: 10px 0 10px 40px;
    color: orange;
    font-size: medium;
    font-weight: 400;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: pointer;
}