.main__content{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 70px;
}

.blog__list{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 270px;
}

.sidebar__list{
    display: flex;
    flex-direction: column;
    width: 27%;
    margin-right: 290px;
}