.blogshort__container{
    display: flex;
    width: 80%;
    justify-content: space-between;
    border: 1px solid lightgray;
    border-radius: 20px;
    margin-bottom: 20px;
}

.blogshort__card{
    display:flex;
    flex-direction: column;
    width: 55%;
    justify-content: space-evenly;
    padding: 10px 0 0 10px;
}

.blogshort__owner{
    display: flex;
    max-height: 30px;
    align-items: center;
}

.blogshort__owner > img{
    display: block;
    max-height: 40px;
    max-width: 100%;
    padding: 0 25px 0 5px;
}

.blogshort__title > span{
    font-size: medium;
    font-weight: bold;
}

.blogshort__data{
    display: flex;
    width: 100%;
    align-items: center;
}

small{
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

.blogshort__data > small{
    padding: 0 15px 0 0;
}

.blogshort__img{
    height: 200px;
    width: 40%;
}

.blogshort__img > img{
    display: block;
    max-height: 100%;
    width: 100%;
    border-radius: 20px;
}